
* {
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: rgb(255, 146, 146);
    Line-height: 70px;
    padding-left: 70px;
}

.header a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

a, a:hover {
    text-decoration: none!important;
}

.logout { 
    float: right;
    padding-right: 30px;
}

ul{
    background-color: #424a5b;
    width: 16%;
    height: 100%;
    position: fixed;
    text-align: left;
    padding-left: 30px;
    list-style-type: none;
}

ul li{
    padding-top: 30px;
    font-size: 15px;
}

ul li a{
    color: white;
    font-weight: bold;
}

ul li a:hover{
    color: skyblue;
    text-decoration: none;
}

.content{
    margin-left: 20%;
    margin-top: 5%;
}